{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black Box</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>

<div class"header">
	<h1>Black Box Project</h1>
</div>

<h2>Destiny Akilotan Period 2A</h2>

<h3>Introduction</h3>
<p>The Mystery black box is a box that has something inside but has not been disclove. In this investigation the goal was to work with your group to find the most efficient way to make the water flow down like the black box.</p>

<img src="{% static 'core/IMG_2672.JPG' %}" alt="A 3D rendering of my final black box model" width="340">
<img src="{% static 'core/IMG_4176.JPG' %}" alt="A 3D rendering of my final black box model" width="340">

<h3>Claim</h3>
<p>Inside the mystery box is a mechanism that causes more water that was inserted at first to come out.</p>
<h3>Evidence</h3>
<img src="{% static 'core/pictures.JPG' %}" alt="A 3D rendering of my final black box model" width="340">
<p>Our trails indicates a increase of water. The change that is shown from input water and output water is very small but represents  a consistent pattern. In trial 7 the input was 600 but after everything came out the output was 660 which shows our consistent pattern.</p>
<table>
  <tr>

<h3>Original black box</h3>

    <th>Trial</th>
    <th>Input Water</th>
    <th>Output Water</th>
  </tr>
  <tr>
    <td>1</td>
    <td>200</td>
    <td>280</td>
  </tr>
  <tr>
    <td>2</td>
    <td>300</td>
    <td>350</td>
  </tr>
  <td>3</td>
  <td>500</td>
   <td>550</td>
  </tr>
 <td>4</td>
  <td>700</td>
  <td>750</td>
  </tr>
    <td>5</td>
    <td>300</td>
    <td>360</td>
  </tr>
    <td>6</td>
    <td>500</td>
    <td>560</td>
  </tr>
<td>7</td>
 <td>600</td>
 <td>660</td>
  </tr>

 </table>


<table>
<tr>

<h3> My black box</h3>

    <th>Trial</th>
    <th>Volume of Water Input(mL)</th>
    <th>Volume of Water Output(mL)</th>
     </tr>
  <tr>
    <td>1</td>
    <td>700mL</td>
    <td>850mL</td>
  </tr>
  <tr>
    <td>2</td>
    <td>900ml</td>
    <td>6mL</td>
  </tr>
  <td>3</td>
  <td>600mL</td>
   <td>1250mL</td>
  </tr>
 <td>4</td>
  <td>1000mL</td>
  <td>1670ml</td>
  </tr>
    <td>5</td>
    <td>500mL</td>
    <td>270mL</td>
  </tr>

 </table>








<h3>Reasoning, part I</h3>
<p>When you hear the word model you are most likely to hear that it means a representation of a person place or thing.
<h3>Reasoning, part II</h3>
<p>My evidence supports my claim because it shows that every time we added water, more than the amount we applied came out. This pattern happened consistently, which means the evidence backs up what I said. By observing this, we can see that my claim is correct since the results match what I predicted.</p>

<h3>Resoning,part III</h3>
<p>The data might have been different if less water came out than the amount we applied. This would mean that my claim was incorrect. If the water didn't come out as expected, it would show that my prediction was wrong. This could have affected the results and changed what we thought would happen.</p>



<h3>3D modeling, Animation and Agumented realtiy</h3>
<p>To develop our Black Box model digitally, we utilized a software known as MAYA. Employing poly modeling tools, we replicated our physical model. During our lessons, we acquired proficiency in using various tools such as shell, extrude, multi-cut, and others. We mastered the art of animation within MAYA, which we later made into an augmented reality platform called Merge EDt.</p>
<img src="{% static 'core/dest picure.jpg' %}" alt="A 3D rendering of my final black box model" width="340">
<img src="{% static 'core/QR.png' %}" width="400">

<h3>21st-century</h3>
<p>During the black box project, I believe the 21st-century skill I demonstrated the most was problem-solving and critical thinking. These skills became evident when an error took place with my group's black box, and we couldn't figure out how to fix it. I showcased my problem-solving ability by thinking deeply about how to repair the hole, ensuring that our product would work efficiently. This process involved analyzing the cause of the problem, considering various possible solutions, and selecting the best option to ensure the stability  of our black box.
This challenge allowed me to enhance my teamwork skills. I collaborated closely with my peers, sharing ideas and collectively thinking about our options. Through effective communication and the exchange of perspectives, we managed to find a viable solution. This project not only strengthened my technical abilities but also help teach me the importance of cooperation and critical thinking in solving  problems.</p>

<h3>Overall Reflection</h3>
<p>Reflecting on the project, my favorite part was building the in-person model. Taking on a leadership role in constructing this model was very fun. To develop our Black Box model digitally, we utilized the software known as MAYA. During our lessons, we learned proficiency in using various tools such as shell, extrude, multi-cut, and others. We nearly mastered the art of animation within MAYA. The most challenging aspect was navigating the tools of modeling in MAYA, given that it was my first time using the platform. If I were to approach this project differently, I would strive to manage my time more effectively and avoid procrastination to ensure a smoother workflow.</p>
<img src="{% static 'core/dest picture.JPG' %}" alt="A 3D rendering of my final black box model" width="340">
<img src="{% static 'core/IMG_3819.JPG' %}" alt="A 3D rendering of my final black box model" width="340">




<a href="https://adobeaero.app.link/leBqKJ8J7Nb">destiny black box</a>



  </body>
</html>