{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Screen print project</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>

<div class"header">
	<h1> Screenprint project </h1>
</div>

<h2>Destiny Akilotan</h2>
<h1>Introduction</h1>
<p>In New Media & Tech for Social Change this quarter, we worked with multiple websites including Adobe Photoshop, Adobe Illustrator, and Silhouette Studios to create a screen print of a picture of something that represented us or meant something to us. The picture was taken with one of the cameras in class. Using these tools, we learned how to manipulate and enhance our images to better make our personal stories and identities. Each app had its unique features that allowed us to experiment with different techniques and effects.
</p>


<img src="{% static 'core/IMG_4739.JPG' %}" width="340">

<h1>Concept and Purpose</h3>
<p>The image I chose to edit was a picture of food I made, which I inserted on top of a picture of my hands taken by one of my teammates. I chose food because I love cooking, and it brings me comfort when I cook for people I care about. My text, "food is my language," described how I felt. Cooking is not just a hobby for me; it's a way to express my feelings and connect with others. By combining the image of my hands with the food, I wanted to convey the personal touch and love that goes into every dish I prepare. This project allowed me to visually represent my passion for cooking and the joy it brings me.
</p>

<img src="{% static 'core/photosop.png' %}"width="340">
 <img src="{% static 'core/IMG_4735 (1).JPG' %}"width="340">


<h1>Teamwork</h3>
<p>Throughout the process, my teammates and I used different angles that best fit each other's designs. For instance, to capture my hands in the correct position, my partner had to take my picture from an upward angle. We spent a lot of time experimenting with different perspectives to ensure that each image was perfectly aligned with our creative vision. When creating our frames, while one of us held the pieces of wood together, the other would add the staples in to ensure our frames were strong and durable. This teamwork and collaboration was important as it allowed us to combine our skills and strengths to produce high-quality, sturdy frames that would support our screen prints effectively.
</p>

<img src="{% static 'core/IMG_5008.JPG' %}"width="340">
 <img src="{% static 'core/IMG_5009.JPG' %}"width="340">


<h1>Editing</h3>
<p>On Adobe Photoshop, I used a variety of settings to create my image exactly how I envisioned it. One of the most interesting tools I utilized was the AI feature, which came in handy when the picture of the plate of my food got cut off. The AI completed the missing part, making the image look whole and natural. Also I made extensive use of layers to create a stack effect between my two images. This layering technique allowed me to manage different elements separately and blend them perfectly. I also used layers to add text, making sure it blended  smoothly with the overall design.
</p>

<img src="{% static 'core/destiny picture 1color.png' %}"width="340">
<img src="{% static 'core/both.png' %}"width="340">



<h1> Physical Process</h3>
<p>During the physical aspect of this process, we were instructed to create frames out of wood, which we had to measure and cut using a saw, assembling them based on how big we wanted our screen print to be. This required careful planning and precision to ensure that each piece fit together perfectly. Once the frames were assembled, we moved on to painting and printing our stencils. To print our stencil, we used Silhouette Studios to insert our completely edited image and export it to the printer. After printing, we faced the challenging task of cutting out our stencil. This was probably the hardest part because it was difficult not to cut out the parts we needed. After that we ironded the stencil  to the wood and began painting on to various different things.</p>

<img src="{% static 'core/IMG_5069.JPG' %}" width="340">
<img src="{% static 'core/IMG_5159.JPG' %}" width="340">
<img src="{% static 'core/IMG_4904.JPG' %}" width="340">
<img src="{% static 'core/IMG_5002.JPG' %}" width="340">




<h1>21st-century skill</h3>
<p>During this project, the 21st-century skill I feel I used the most was communication and collaboration. I say this because I consistently demonstrated effective communication, collaboration, and respect throughout the entire project, not only with my teammates but with the entire class. For example, I consistently demonstrated collaboration when my peers would ask me to take pictures of them working; I would drop what I was doing to help them. This willingness to assist others and work together ensured that we all succeeded and maintained a positive and supportive learning environment.
</p>

<h1> Reflection</h3>
<p>Throughout this process, I found the hands-on elements to be the most enjoyable. It was a perfect blend of digital creativity and  physical aspects, it was also easiest.  I was effective at using Adobe Photoshop and demonstrated leadership by helping my teammates with their projects such as taking pictures of them while they worked. One challenge was cutting out the stencil precisely, which required patience. I made changes to my design to fit the screen printing process better and overcame obstacles with the support of my classmates. In the future, I might use these techniques in other creative projects and continue to grow as a learner and leader.</p>

<img src="{% static 'core/IMG_3797.JPG' %}" width="340">
